<h1>Create Contact</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First name:</label>
  <input id="first-name" type="text" formControlName="firstName" required />

  <label for="last-name">Last name:</label>
  <input id="last-name" type="text" formControlName="lastName" required />

  <label for="street">Street:</label>
  <input id="street" type="text" formControlName="street" required />

  <label for="city">City:</label>
  <input id="city" type="text" formControlName="city" required />

  <div class="actions">
    <div class="spacer"></div>
    <button type="submit">{{ contact ? "Update" : "Create" }}</button>
  </div>
</form>
