<h1>Edit Contact</h1>

<form [formGroup]="contactForm" (ngSubmit)="upateContact()">
    <label for="firstName">First name</label><br/>
    <input id="firstName" type="text" formControlName="firstName"/>
    <br/>
    <label for="lastName">Last name</label><br/>
    <input id="lastName" type="text" formControlName="lastName"/>
    <br/>
    <label for="street">Street</label><br/>
    <input id="street" type="text" formControlName="street"/>
    <br/>
    <label for="city">City</label><br/>
    <input id="city" type="text" formControlName="city"/>
    <br/>
    <br/>
    <button type="submit">Edit Contact</button>
</form>
