<!-- <h2>Contacts List</h2>
<ul>
    <li *ngFor="let contact of contacts">
      <span>{{ contact.firstName }}</span> - <span>{{ contact.lastName }}</span> - <span>{{ contact.email }}</span> - <span>{{ contact.phone }}</span>
    </li>
  </ul> -->
  
<h2>Contacts List</h2>
<div class="contacts-grid">
  <div *ngFor="let contact of contacts" class="contact-card">
    <div class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</div>
    <div class="contact-details">
      <span>Email: {{ contact.email }}</span>
      <span>Phone: {{ contact.phone }}</span>
    </div>
  </div>
</div>
