
<ng-container *ngIf="newContact.id !== 0; else elseBlock">
    <h1>Update Contact</h1>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
      <label for="first-name">First name:</label>
      <input id="first-name" type="text" formControlName="firstName"/>
    
      <label for="last-name">Last name:</label>
      <input id="last-name" type="text" formControlName="lastName"/>
    
      <label for="street">Street:</label>
      <input id="street" type="text" formControlName="street"/>
    
      <label for="city">City:</label>
      <input id="city" type="text" formControlName="city"/>
    
      <div class="actions">
        <div class="spacer"></div>
        <button type="submit" [disabled]="!contactForm.valid">Update</button>
      </div>
    </form>
</ng-container>
<ng-template #elseBlock>
    <h2>Could not find contact by that Id</h2>
</ng-template>


