
:host {
    padding: 0.5em;
    width: 400px;
} 

li {
    list-style-type: none;
    border-bottom: 1px solid silver;
    padding: 20px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-buttons {
    margin-top: 10px;
}

a {
    text-decoration: none;
    margin: 20px 10px 20px 0;
} 
