<h1>Contacts</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td>
                {{contact.id}}
            </td>
            <td>
                {{contact.firstName}} {{contact.lastName}}
            </td>
            <td>
                {{contact.street}}, {{contact.city}}
            </td>
            <td>
                <a routerLink="/contacts/{{ contact.id }}">View</a>
            </td>
            <td>
                <a routerLink="/contacts/edit/{{contact.id}}">Edit</a>
            </td>
        </tr>
    </tbody>
</table>