.contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.contact-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.contact-item p {
    margin: 0;
    padding-right: 100px;
}