<h1>Contacts</h1>
<!-- if we have contacts -->

<div *ngIf="contacts.length > 0; else noContacts">
    <div class="contact-container">
        @for (contact of contacts; track $index) {
            <div class="contact">
                <span>{{contact.firstName}} {{contact.lastName}}</span>
                <div class="contact-buttons">
                    <a routerLink="/contacts/edit/{{contact.id}}">Edit</a>
                    <a routerLink="/contacts/{{contact.id}}">View</a>
                </div>
            </div>
        }
    </div>
</div>

<ng-template #noContacts>
    <!-- if we don't have contacts -->
    <div>No contacts yet</div>

</ng-template>

