<h1>Create Contact</h1>
<form [formGroup] = "userForm" (ngSubmit)="submit($event)">
  <label for = "firstName"> First Name: </label>
  <input type = "text" name = "firstName" formControlName = "firstName" />
  <label for = "lastName"> Last Name: </label>
  <input type = "text" name = "lastName" formControlName = "lastName" />
  <label for = "street"> Street: </label>
  <input type = "text" name = "street" formControlName = "street" />
  <label for = "city"> City: </label>
  <input type = "text" name = "city" formControlName = "city">
  <label for = "email"> Email: </label>
  <input type = "text" name = "email" formControlName = "email">
  <button [disabled]="!userForm.valid" type="submit"> submit </button>
</form>
