<h2 style="font-size: 2em" color="primary">Create Contact</h2>

<form [formGroup]="newContactForm" (ngSubmit)="addNewContact()">
  <mat-form-field appearance="fill" class="form-field-block">
    <mat-label>First Name</mat-label>
    <input matInput id="first-name" type="text" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field-block">
    <mat-label>Last Name</mat-label>
    <input matInput id="last-name" type="text" formControlName="lastName" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field-block">
    <mat-label>Email</mat-label>
    <input matInput id="email" type="email" formControlName="email" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field-block">
    <mat-label>Street</mat-label>
    <input matInput id="street" type="text" formControlName="street" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-field-block">
    <mat-label>City</mat-label>
    <input matInput id="city" type="text" formControlName="city" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!newContactForm.valid"
    type="submit">
    Create
  </button>
</form>
