<h2>Create Contact</h2>

<form [formGroup]="newContactForm" (ngSubmit)="addNewContact()">
  <label for="first-name">First Name</label>
  <input id="first-name" type="text" formControlName="firstName" />

  <label for="last-name">Last Name</label>
  <input id="last-name" type="text" formControlName="lastName" />

  <label for="email">Email</label>
  <input id="email" type="email" formControlName="email" />

  <label for="street">Street</label>
  <input id="street" type="text" formControlName="street" />

  <label for="city">City</label>
  <input id="city" type="text" formControlName="city" />
  <button [disabled]="!newContactForm.valid" type="submit" class="primary">
    Create
  </button>
</form>
