<h1>Contacts</h1>
<!-- if we have contacts -->
<div *ngIf="contacts.length > 0; else noContacts">
  <div *ngFor="let contact of contacts" class="contact-container">
    <div class="contact">
      <span>{{contact.firstName}} {{contact.lastName}}</span>
    </div>
    <div class="routes">
      <a routerLink="/contacts/{{contact.id}}">View</a>
      <a routerLink="/contacts/edit/{{contact.id}}">Edit</a>
      <button type="button" (click)="deleteContact(contact)">Delete</button>
    </div>
  </div>
</div>

<!-- if we don't have contacts -->
<ng-template #noContacts>
  <div>No contacts yet</div>
</ng-template>
