<h2>Add New Contact</h2>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName" required>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" id="email" formControlName="email" required>
  </div>

  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" id="phone" formControlName="phone" required>
  </div>  
  <button type="submit">Save</button>
</form>
