
.contact-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-list-item {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    min-width: 300px;
}