:host {
  padding-top: 1em;
  width: calc(100vw - 240px);
  padding: 20px;
  border-radius: 10px;
  box-shadow:
    0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 2em auto auto auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.3em;
}
