<h1>Create Contact</h1>
<form [formGroup]="userForm" (ngSubmit)="submit($event)">
  <label for="first-name">First name:</label>
  <input id="first-name" type="text"  formControlName="firstname" />

  <label for="last-name">Last name:</label>
  <input id="last-name" type="text" formControlName="lastname"/>

  <label for="street">Street:</label>
  <input id="street" type="text"  formControlName="street"/>

  <label for="city">City:</label>
  <input id="city" type="text" formControlName="city"/>

  <div class="actions">
    <div class="spacer"></div>
    <button type="submit">Create</button>
  </div>
</form>
