:host {
  padding: 0 0.5em;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

a {
  background-image: linear-gradient(
    to right,
    #aa076b 0%,
    #61045f 51%,
    #aa076b 100%
  );
  margin: 10px;
  padding: 15px 25px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

a:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
