<!DOCTYPE html>  
<html> 
<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <head>  
        <meta charset="ISO-8859-1">  
        <title>Add new film to DB</title>  
    </head>  
    <body>  
      <h1 style="text-align:center;">You can add movie to Database here</h1>
 <form [formGroup] = "userForm" (ngSubmit)="submit($event)">    
 <div class="form-group">
  <label >Title:</label>
  <input type="text" class="form-control"  placeholder="Enter title" name="title" formControlName = "title">
</div>
<div class="form-group">
  <label >Year:</label>
  <input type="text" class="form-control"  placeholder="Enter year of production" name="year" formControlName = "year">
</div>
<div class="form-group">
  <label >Director:</label>
  <input type="text" class="form-control"  placeholder="Enter director name" name="director" formControlName = "director">
</div>
<div class="form-group">
  <label >Stars:</label>
  <input type="text" class="form-control"  placeholder="Enter stars names" name="stars" formControlName = "stars">
</div>
<div class="form-group">
  <label >Review:</label>
  <input type="text" class="form-control"  placeholder="Enter your review" name="review" formControlName = "review">
</div>

<button type="submit" class="btn btn-default">Add film</button>
</form>


    </body>  
</html>  