<!-- new-contact.component.html -->
<h1>Create Contact</h1>
<form (ngSubmit)="createContact()">
  <label for="first-name">First name:</label>
  <input id="first-name" type="text" [(ngModel)]="firstName" name="firstName" />

  <label for="last-name">Last name:</label>
  <input id="last-name" type="text" [(ngModel)]="lastName" name="lastName" />

  <label for="street">Street:</label>
  <input id="street" type="text" [(ngModel)]="street" name="street" />

  <label for="city">City:</label>
  <input id="city" type="text" [(ngModel)]="city" name="city" />

  <div class="actions">
    <div class="spacer"></div>
    <button type="submit">Create</button>
  </div>
</form>
